#Un gitignorearchivo especifica archivos no rastreados intencionalmente que Git debe ignorar. Los archivos ya rastreados por Git no se ven afectados; consulte las NOTAS a continuación para obtener más información.